.footer {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  /* border-style: solid; */
  bottom: 0;
  left: 0;
  right: 0;
}

.github{
  width: 20px;
  
}

.linkedin {
  width: 80px;
  display: flex;
  
}
.bocacode {
    height: 10rem;

}
