.dailyMessages {
  justify-content: center;
  color: #363457;
  font-size: 60px;
}
h1 {
  color: #363457;
}
body {
  background-color: rgb(215, 222, 250);
}

/* .dailyMessages {
  justify-content: center;
  margin: 20px;
} */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #e4751a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  justify-content: center;
  margin: 5px;
 
}
